<div class="table-operation">
	<h3>检查类别/检验类别</h3>
	<div>
	  <button type="button" class="btn btn-default" ng-click="open_new('sm')">新增检查类别/检验类别列表</button>
	  <button type="button" class="btn btn-default">导出</button>
    <button style="float: right;width: 5%;" ng-click="search()" class="btn btn-default">搜索</button>
    <input style="width: 13%;float: right;margin-left: 5px;margin-right: 5px;" type="text" ng-model="q" class="form-control" id="hos_q" placeholder="名称 、拼音">
    <select style="width: 6%;float: right;" ng-change="search()" ng-model="category_id" class="form-control">
      <option value="">全部</option>
      <option ng-repeat="category in categories" value={{category.id}}>{{category.name}}</option>
    </select>
	</div>

</div>
<table class="table table-bordered table-hover">
  	<tr style="text-align: center">
  	  <td>#</td>
  	  <td>检查类别/检验类别名称</td>
  	  <td>项目名称</td>
  	  <td>类别</td>
  	  <td>创建时间</td>
  	  <td>操作</td>
  	</tr>
  	<tr ng-repeat="body in self.bodies" style="text-align: center;">
  		<td>{{body.id}}</td>
  		<td>{{body.name}}</td>
  		<td>{{body.projects[0]}}</td>
  		<td>{{body.category}}</td>
  		<td>{{body.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  		<td><a class="btn btn-default btn-success btn-xs">编辑</a>
  		<a class="btn btn-default btn-danger btn-xs">删除</a></td>
  	</tr>
  </tbody>
</table>
<div class='pagination'>
  <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
  <div style="float: right;position: relative;top: -20px;">
    跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
    <button type="button" class="btn btn-default" ng-click="setPage()">确定</button>
  </div>
</div>

<script type="text/ng-template" id="new_bodies.html">
  <div class="modal-header">
      <h3 class="modal-title">新增类别</h3>
  </div>
  <div class="modal-body">
    <label for="hos_name">类别名称</label>
    <input type="text" ng-model="body.name" class="form-control" id="hos_name">
    <label for="hos_level">项目类别</label>
    <select ng-model="body.category" class="form-control" id="hos_category">
      <option ng-repeat="category in categories" value={{category.id}}>{{category.name}}</option>
    </select>
    <button style="margin: 10px;" class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    <button style="float: left;margin-top: 10px;" ng-click="save(body)"class="btn btn-primary">确定</button>
  </div>
</script>
