<div class="table-operation">
	<h3>医院列表</h3>
	<div>
	  <button type="button" class="btn btn-default">新增医院</button>
	  <button type="button" class="btn btn-default">导出</button>
    <button style="float: right;width: 5%;" ng-click="search()" class="btn btn-default">搜索</button>
    <input style="width: 13%;float: right;margin-left: 5px;margin-right: 5px;" type="text" ng-model="q" class="form-control" id="hos_q" placeholder="名称 、拼音">
    <select style="width: 6%;float: right;" ng-change="search()" ng-model="city_id" class="form-control">
      <option value="">全部</option>
      <option ng-repeat="city in cities" value={{city.id}}>{{city.name}}</option>
    </select>
	</div>

</div>
<table class="table table-bordered table-hover">
  	<tr style="text-align: center">
  	  <td>#</td>
  	  <td>医院名称</td>
  	  <td>城市</td>
  	  <td>分流医院</td>
  	  <td>详情</td>
      <td>检查项目/检验项目</td>
  	</tr>
  	<tr ng-repeat="hospital in self.hospitals" style="text-align: center;">
  		<td>{{hospital.id}}</td>
  		<td>{{hospital.name}}</td>
  		<td>{{hospital.city_zh}}</td>
  		<td>{{hospital.bridgings.join(", ")}}</td>
  		<td>
				<a class="btn btn-info btn-xs color_box" ng-click="open_detail(hospital)">详情</a>
			</td>
      <td><button type="button" class="btn btn-default" ng-click="open_hospital_project('lg',hospital.id)">查看详情</button></td>
  	</tr>
  </tbody>
</table>
<div class='pagination'>
  <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
  <div style="float: right;position: relative;top: -20px;">
    跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
    <button type="button" class="btn btn-default" ng-click="setPage()">确定</button>
  </div>
</div>

<!-- map dialog -->
<script type="text/ng-template" id="hospital_detail.html">
  <div class="modal-header"  align="center">
      <h4 class="modal-title">{{hospital.name}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
			<div class="col-md-4">
				<label for="hos_address">地址</label>
		    <input type="text" ng-model="hospital.address" class="form-control" id='hos_address'>
		    <label for="hos_lnglat">坐标</label>
		    <input type="text" ng-model="lnglat" class="form-control"  id='hos_lnglat'>
		    <label for="hos_bus_line">行车路线</label>
		    <input type="text" ng-model="hospital.bus_line" class="form-control"  id='hos_bus_line'>
		    <label for="created_at">创建时间</label>
		    <input type="text" value="{{hospital.created_at | date:'yyyy-MM-dd HH:mm:ss'}}" class="form-control"  id='hos_created_at' disabled>
				<label for="hos_remark">备注</label>
		    <input type="text" ng-model="hospital.remark" class="form-control"  id='hos_remark'>
		    <label for="hos_intro">介绍</label>
		    <textarea rows=4 class="form-control"  id='hos_intro'>{{hospital.intro}}</textarea>
				<div>
					<button style="margin: 10px;" class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
		    	<button style="float: left;margin-top: 10px;" ng-click="save(body)"class="btn btn-primary">确定</button>
				</div>
			</div>
			<div class="col-md-8">
				<img ng-src="{{map_src}}" alt='map'/>
			</div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="hospital_project.html">
  <div class="modal-header">
      <h3 class="modal-title">医院开展项目情况</h3>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover">
      <tr style="text-align: center">
      <td>检查项目名称</td>
      <td>窗口电话</td>
      <td>短信填充信息</td>
      <td>项目就诊流程</td>
      <td>就检注意事项</td>
      <td>状态</td>
      <td>医保情况</td>
    </tr>
    <tr ng-repeat="project in projects" style="text-align: center;">
      <td style="line-height:150px;">{{project.project}}</td>
      <td style="line-height:150px;"><button style="font-size: 14px;" type="button" class="btn btn-link btn-xs" ng-click="open_edit('md',project,'windows_phone','窗口电话')">{{project.windows_phone||"编辑窗口电话"}}</button></td>
      <td style="line-height:150px;"><button style="font-size: 14px;" type="button" class="btn btn-link btn-xs" ng-click="open_edit('md',project,'app_make_sms','短信填充信息')">{{project.app_make_sms||"编辑短信填充信息"}}</button></td>
      <td width="30%;"><a ng-click="open_workflow('lg', project)" href=""><li style="text-align:left;margin-left:10px;" ng-repeat="workflow in project.inspection_workflows">{{workflow.step+': '+workflow.step_description}}</li><span style="line-height:150px;" ng-if="project.inspection_workflows==''">编辑就诊流程</span></td>
      <td style="line-height:150px;"><button style="font-size: 14px;" type="button" class="btn btn-link btn-xs" ng-click="open_edit('md',project,'inspection_notes','就检注意事项')">{{project.inspection_notes||"编辑就检注意事项"}}</button></td>
      <td style="line-height:150px;"><button style="font-size: 14px;" type="button" class="btn btn-link btn-xs" ng-click="change_status(project,'status')">{{project.status_zh || "正常"}}</button></td>
      <td style="line-height:150px;"><button style="font-size: 14px;" type="button" class="btn btn-link btn-xs" ng-click="change_status(project,'mbf')">{{project.mbf_zh || "无医保"}}</button></td>
    </tr>
    </table>
    <button style="margin: 10px;" class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
  </div>
</script>


<script type="text/ng-template" id="edit_hospital_project.html">
  <div class="modal-header" align="center">
      <h3 class="modal-title">编辑{{field_ch}}</h3>
  </div>
  <div class="modal-body" align="center">
    <label>{{field_ch}}</label>
    <input ng-if="field=='windows_phone'" style="width:50%;" type="text" ng-model="project[field]" class="form-control" id='hos_address'>
    <textarea style="width:50%;" class="form-control" ng-if="field!='windows_phone'" ng-model="project[field]"></textarea>
    <button style="margin-top: 10px;" class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    <button style="margin-top: 10px;" ng-click="edit_project(project)" class="btn btn-primary">保存</button>  
  </div>
</script>

<script type="text/ng-template" id="edit_workflow.html">
  <div class="modal-header" align="center">
      <h3 class="modal-title">编辑检查流程</h3>
  </div>
  <div class="modal-body" align="center">
    <div class="row" style="width: 100%;">
      <table class="table table-bordered table-bordered table-hover table-condensed">
        <thead>
        <tr>
          <th style="text-align:center;">就检步骤</th>
          <th style="text-align:center;">步骤说明</th>
          <th style="text-align:center;">操作</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inspection_workflow in inspection_workflows track by $index">
            <td>
              <input type="text" ng-model="inspection_workflow.step" class="form-control">
            </td>
            <td>
              <input type="text" ng-model="inspection_workflow.step_description" class="form-control">
            </td>
            <td style="text-align:center;">
              <button class="btn btn-danger btn-sm" ng-click="delete_row($index)"  confirm="你确定要删除该类别吗？">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button style="margin-top: 10px;" class="btn btn-success" type="button" ng-click="add_row()">新增</button>
    <button style="margin-top: 10px;" class="btn btn-primary" type="button" ng-click="save()">保存</button>
    <button style="margin-top: 10px;" class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
  </div>
</script>