<style media="screen">
  a{
      padding: 2px 10px;
  }
  a:hover{
      cursor: pointer;
  }
	.wb_label {
		position: relative;
		min-width: 180px;
		height: 40px;
		float: left;
		border: 1px solid #DAD8D8;
		margin-right: 15px;
		margin-bottom: 10px;
		padding: 8px;
	}
	.wb_name {
    float: left;
    min-width: 77px;
    text-align: left;
    margin-left: 10px;
	}
  .app-modal-window .modal-dialog {
    width: 85%;
  }
</style>
<div class="table-operation">
	<h3>医院列表</h3>
	<div>
	  <button type="button" class="btn btn-default">新增医院</button>
	  <button type="button" class="btn btn-default">导出</button>
    <button style="float: right;width: 5%;" ng-click="search()" class="btn btn-default">搜索</button>
    <input style="width: 13%;float: right;margin-left: 5px;margin-right: 5px;" type="text" ng-model="q" class="form-control" id="hos_q" placeholder="名称 、拼音">
    <select style="width: 6%;float: right;" ng-change="search()" ng-model="city_id" class="form-control">
      <option value="">全部</option>
      <option ng-repeat="city in cities" value={{city.id}}>{{city.name}}</option>
    </select>
	</div>

</div>
<table class="table table-bordered table-hover">
  	<tr style="text-align: center;background-color:#f6f6f6;">
  	  <td>#</td>
  	  <td>医院名称</td>
  	  <td>城市</td>
  	  <td>分流医院</td>
  	  <td></td>
  	</tr>
  	<tr ng-repeat="hospital in self.hospitals" style="text-align: center;">
  		<td>{{hospital.id}}</td>
  		<td>{{hospital.name}}</td>
  		<td>{{hospital.city_zh}}</td>
  		<td>
        <a ng-click="open_bridging_hospitals_modal(hospital)">
          {{ show_bridging_hospital_arr(hospital.bridgings) }}
        </a>
        <a ng-show="hospital.bridgings.length==0" ng-click="open_bridging_hospitals_modal(hospital)">添加</a>
      </td>
  		<td>
				<a class="btn btn-info btn-xs color_box" ng-click="open_detail(hospital)">详情</a>
				<a class="btn btn-success btn-xs color_box" ng-click="open_assistant(hospital)">合作人员</a>
				<a class="btn btn-default btn-xs color_box" ng-click="open_hospital_project('lg',hospital.id,hospital)">开展项目</a>
			</td>
  	</tr>
  </tbody>
</table>
<div class='pagination'>
  <uib-pagination style="margin-left: 10px;margin-top: -20px;" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页" ng-change="pageChanged()" items-per-page=20 total-items="total_count" ng-model="current_page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
  <div style="float: right;position: relative;top: -20px;">
    跳转到第<input style="width: 40px;" id="go_page" type="text"></input>页
    <button type="button" class="btn btn-sm btn-default" ng-click="setPage()">确定</button>
  </div>
</div>

<!-- map dialog -->
<script type="text/ng-template" id="hospital_detail.html">
  <div class="modal-header"  align="center">
      <h4 class="modal-title">{{hospital.name}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
			<div class="col-md-4">
				<label for="hos_address">地址</label>
		    <input type="text" ng-model="hospital.address" class="form-control" id='hos_address'>
		    <label for="hos_lnglat">坐标</label>
		    <input type="text" ng-model="lnglat" class="form-control"  id='hos_lnglat'>
		    <label for="hos_bus_line">行车路线</label>
		    <input type="text" ng-model="hospital.bus_line" class="form-control"  id='hos_bus_line'>
		    <label for="created_at">创建时间</label>
		    <input type="text" value="{{hospital.created_at | date:'yyyy-MM-dd'}}" class="form-control"  id='hos_created_at' disabled>
				<label for="hos_remark">备注</label>
		    <input type="text" ng-model="hospital.remark" class="form-control"  id='hos_remark'>
        <label for="hos_email">电子邮箱</label>
        <div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="电子邮箱" ng-model="hospital.should_send_email" />开启
            </span>
            <textarea rows=1 class="form-control" id='hos_email' ng-model="hospital.email" placeholder="多个邮箱请用','分隔"></textarea>
          </div>
        </div>
		    <label for="hos_intro">介绍</label>
		    <textarea rows=3 class="form-control"  id='hos_intro' ng-model="hospital.intro"></textarea>
				<div>
					<button style="margin: 10px;" class="btn btn-sm btn-warning" type="button" ng-click="cancel()">取消</button>
		    	<button style="float: left;margin-top: 10px;" ng-click="save(hospital)"class="btn btn-sm btn-primary">确定</button>
				</div>
			</div>
			<div class="col-md-8">
				<img ng-src="{{map_src}}" alt='map'/>
			</div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="assistants_detail.html">
  <div class="modal-header"  align="center">
      <h4 class="modal-title">{{hospital.name}}-合作人员</h4>
  </div>
  <div class="modal-body">
			<table class="table table-bordered table-hover">
				<tr>
					<th>#</th>
					<th>姓名</th>
					<th>手机</th>
					<th>地址</th>
					<th>是否接收短信</th>
					<th>创建时间</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
        <tr ng-show="hospital.hospital_assistants.length==0">
          <td colspan="8">(没有相关合作人员记录)</td>
        </tr>
				<tr ng-repeat="assistant in hospital.hospital_assistants" style="text-align: center;">
					<td>{{assistant.id}}</td>
					<td>
						<a uib-popover-template="dynamicPopover.templateUrl" ng-style="{color:'black'}" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="assistant.name || '点击设置'" ng-click="select_click('name', assistant)"></a>
					</td>
					<td>
            <a uib-popover-template="dynamicPopover.templateUrl" ng-style="{color:'black'}" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="assistant.phone || '点击设置'" ng-click="select_click('phone', assistant)"></a>
          </td>
					<td>
            <a uib-popover-template="dynamicPopover.templateUrl" ng-style="{color:'black'}" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="assistant.address || '点击设置'" ng-click="select_click('address', assistant)"></a>
          </td>
					<td>
            <a uib-popover-template="dynamicPopover.templateUrl" ng-style="assistant.state=='issend'?{color:'green'}:{}" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="assistant.state=='issend'?'是':'否' " ng-click="select_click('state', assistant)"></a>
					</td>
					<td ng-style="{color:'black'}" >{{assistant.created_at | date:'yyyy-MM-dd'}}</td>
					<td>
            <a uib-popover-template="dynamicPopover.templateUrl" ng-style="{color:'black'}" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="assistant.remark || '点击设置'" ng-click="select_click('remark', assistant)"></a>
          </td>
					<td>
					  <a class="btn btn-danger btn-xs color_box" ng-click="delete_click(assistant)" ng-show="assistant.id" confirm="你确定要移除该合作人员吗？">删除</a>
					  <a class="btn btn-success btn-xs color_box" ng-show="!assistant.id" ng-click="add_click(assistant,hospital.id)">添加</a>
					</td>
				</tr>
			</table>
			<div>
        <button class="btn btn-success" ng-click="add_assistant_row()">新增</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
			</div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="myPopInputTemplate.html">
    <div class="form-group form-inline">
        <input type="text" ng-model="modal_template.value" class="form-control">
        <button type="button" class="btn btn-success" ng-click="input_click()">确定</button>
    </div>
</script>

<script type="text/ng-template" id="myPopSelectTemplate.html">
    <div class="form-group">
        <select class="form-control" ng-model="modal_template.selected" ng-change="select_change()">
          <option value="issend">是</option>
          <option value="isnotsend">否</option>
        </select>
    </div>
</script>

<script type="text/ng-template" id="hospital_project.html">
  <div class="modal-header">
      <h4 class="modal-title">医院开展项目情况</h4>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover">
      <tr style="text-align: center">
      <td>检查项目名称</td>
      <td>窗口电话</td>
      <td>短信填充信息</td>
      <td>项目就诊流程</td>
      <td>就检注意事项</td>
      <td>状态</td>
      <td>医保情况</td>
      <td>操作</td>
    </tr>
    <tr ng-repeat="project in projects" style="text-align: center;">
      <td>{{project.project}}</td>
      <td><button ng-style="project.windows_phone?{color:'black'}:{}" type="button" class="btn btn-link btn-xs" ng-click="open_edit('sm',project,'windows_phone','窗口电话')">{{project.windows_phone||"编辑窗口电话"}}</button></td>
      <td><button ng-style="project.app_make_sms?{color:'black'}:{}" type="button" class="btn btn-link btn-xs" ng-click="open_edit('sm',project,'app_make_sms','短信填充信息')">{{project.app_make_sms||"编辑短信填充信息"}}</button></td>
      <td><a ng-style="project.inspection_workflows==''?{}:{color:'black'}" ng-click="open_workflow('lg', project)" href=""><li style="text-align:left;margin-left:10px;" ng-repeat="workflow in project.inspection_workflows">{{workflow.step+': '+workflow.step_description}}</li><span ng-if="project.inspection_workflows==''">编辑就诊流程</span></td>
      <td><button ng-style="project.inspection_notes?{color:'black'}:{}" type="button" class="btn btn-link btn-xs" ng-click="open_edit('sm',project,'inspection_notes','就检注意事项')">{{project.inspection_notes||"编辑就检注意事项"}}</button></td>
      <td><button ng-style="project.status_zh=='忙碌'?{color:'red'}:{color:'green'}" type="button" class="btn btn-link btn-xs" ng-click="change_status(project,'status')" confirm="你将修改状态, 确定要修改吗？">{{project.status_zh || "正常"}}</button></td>
      <td><button type="button" class="btn btn-link btn-xs" ng-click="change_status(project,'mbf')">{{project.mbf_zh || "无医保"}}</button></td>
      <td>
        <button class="btn btn-default btn-xs color_box" type="button" ng-click="open_hospital_resources('sm', project.project_id)">设置医院资源</button>
        <a uib-popover-template="dynamicPopover.templateUrl" popover-placement="left-bottom" class="btn btn-primary btn-xs color_box" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-click="bodies_click(project)">部位与价格</a>
      </td>
    </tr>
    <tr ng-show='projects.length==0'>
      <td colspan=8>无相关数据</td>
    </tr>
    </table>
    <button style="margin: 10px;" class="btn btn-sm btn-primary" type="button" ng-click="add_project()">编辑开展项目</button>
    <button  class="btn btn-sm btn-warning" type="button" ng-click="cancel()">关闭</button>
  </div>
</script>


<script type="text/ng-template" id="edit_hospital_project.html">
  <div class="modal-header" align="center">
      <h4 class="modal-title">编辑{{field_ch}}</h4>
  </div>
  <div class="modal-body" align="center">
    <input ng-if="field=='windows_phone'" type="text" ng-model="project[field]" class="form-control" id='hos_address'>
    <textarea class="form-control" ng-if="field!='windows_phone'" ng-model="project[field]"></textarea>
    <button style="margin-top: 10px;" ng-click="edit_project(project)" class="btn btn-sm btn-primary">保存</button>
    <button style="margin-top: 10px;" class="btn btn-sm btn-warning" type="button" ng-click="cancel()">取消</button>
  </div>
</script>

<script type="text/ng-template" id="bridging_hospitals.html">
  <div class="modal-header">
      <h4 class="modal-title">分流医院 ({{hospital.name}})</h4>
  </div>
  <div class="modal-body container">
    <div class="col-md-3" style="height: 50px" ng-repeat="brige in opened_hospitals" ng-show="brige.id!=hospital.id">
      <label>
        <input type="checkbox"  value="{{brige.id}}" ng-init="brige.isChecked=bridging_contains(hospital.bridgings ,brige.id)" ng-model="brige.isChecked">
        <span>{{brige.name}}</span>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <div style="float:left">
      <button class="btn btn-success" ng-click="save(opened_hospitals)">保存</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="edit_workflow.html">
  <div class="modal-header" align="center">
      <h3 class="modal-title">编辑检查流程</h3>
  </div>
  <div class="modal-body" align="center">
    <div class="row" style="width: 100%;">
      <table class="table table-bordered table-bordered table-hover table-condensed">
        <thead>
        <tr>
          <th style="text-align:center;">就检步骤</th>
          <th style="text-align:center;">步骤说明</th>
          <th style="text-align:center;">操作</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inspection_workflow in inspection_workflows track by $index">
            <td>
              <input type="text" ng-model="inspection_workflow.step" class="form-control">
            </td>
            <td>
              <input type="text" ng-model="inspection_workflow.step_description" class="form-control">
            </td>
            <td style="text-align:center;">
              <button class="btn btn-danger btn-sm" ng-click="delete_row($index)"  confirm="你确定要删除该类别吗？">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button style="margin-top: 10px;" class="btn btn-sm btn-success" type="button" ng-click="add_row()">新增</button>
    <button style="margin-top: 10px;" class="btn btn-sm btn-primary" type="button" ng-click="save()">保存</button>
    <button style="margin-top: 10px;" class="btn btn-sm btn-warning" type="button" ng-click="cancel()">取消</button>
  </div>
</script>

<!-- 纳入项目 -->
<script id="add_project.html" type="text/ng-template">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">纳入项目到医院</h4>
  </div>
  <div class="modal-body" id="project-info-table">
    <div class="projectInfo" style="position:relative;width:100%;overflow-y:auto;">
      <div class="wb_label" ng-repeat="project in projects">
        <input type="checkbox" class='show_box_check' value="{{project.id}}" ng-model="project.isChecked" ng-init="project.isChecked=contains(items.project_name_arr,project.name)"/>
        <p class="wb_name">{{project.name}}</p>
      </div>
    </div>
		<button style="margin: 10px;" class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    <button style="float: left;margin-top: 10px;" ng-click="save()" class="btn btn-primary">确定</button>
  </div>
</script>

<script type="text/ng-template" id="edit_hospital_resources.html">
  <div class="modal-header" align="center">
      <h4 class="modal-title">编辑医院资源</h4>
  </div>
  <div class="modal-body">
    <label for="hos_address">设备数</label>
    <input type="number" ng-model="co_hospital_resource.device_count" class="form-control">
    <label for="hos_address">吞吐量/h</label>
    <input type="number" ng-model="co_hospital_resource.device_hour_output" class="form-control">
    <label for="hos_address">过期时间(分钟)</label>
    <input type="number" ng-model="co_appointment_config.opration_expire_time
" class="form-control" >
    <label for="hos_address">开始时间(整点)</label>
    <input type="number" ng-model="co_appointment_config.begin_at" class="form-control">
    <label for="hos_address">结束时间(整点)</label>
    <input type="number" ng-model="co_appointment_config.end_at" class="form-control" >
    <button style="margin-top: 10px;" class="btn btn-primary" type="button" ng-click="save()">保存</button>
    <button style="margin-top: 10px;" class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
  </div>
</script>

<script type="text/ng-template" id="edit_hospital_bodies_price.html">
  <div class="modal-header" align="center">
      <h4 class="modal-title">{{items.hospital.name}}-{{items.project.project}}-{{items.body.name}}-价格表</h4>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover">
      <tr>
        <th>检查项目名称</th>
        <th>医生价格(元)</th>
        <th>医院价格(元)</th>
        <th>下单可见</th>
      </tr>
      <tr ng-repeat="pr in project_relations">
        <td ng-bind="pr.body_mode_name" ></td>
        <td>
          <a uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="pr.price" ng-click="price_input_click(pr)"></a>
        </td>
        <td>
          <a uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="pr.income_price" ng-click="income_price_input_click(pr)"></a>
        </td>
        <td>
          <a uib-popover-template="dynamicPopover.templateUrl" ng-style="pr.state=='visible'?{color:'green'}:{}" popover-title="{{dynamicPopover.title}}" popover-trigger="outsideClick" ng-bind="pr.state=='visible'?'可见':'不可见'" ng-click="select_click(pr)"></a>
        </td>
      </tr>
      <tr ng-show="project_relations.length==0">
        <td colspan=4>无相关数据</td>
      </tr>
    </table>
  </div>
</script>

<script type="text/ng-template" id="hospital_bodies_pop_input.html">
  <div>
      <span ng-repeat="body in project_bodies">
        <a ng-click="open_edit_price(body)">{{body.name}}</a>
      </span>
  </div>
</script>

<script type="text/ng-template" id="statusPopSelectTemplate.html">
    <div class="form-group">
        <select class="form-control" ng-model="pr.state" ng-change="select_change()">
          <option value="visible">可见</option>
          <option value="invisible">不可见</option>
        </select>
    </div>
</script>

<!-- 医院价格 -->
<script type="text/ng-template" id="incomePriceInputTemplate.html">
  <form class="form-inline">
    <div class="form-group">
        <input class="form-control" ng-model="pr.income_price"/>
        <button class="form-control btn-primary" ng-click="income_price_btn_click()">OK</button>
    </div>
  </form>
</script>

<!-- 医生价格 -->
<script type="text/ng-template" id="priceInputTemplate.html">
  <form class="form-inline">
    <div class="form-group">
        <input class="form-control" ng-model="pr.price"/>
        <button class="form-control btn-primary" ng-click="price_btn_click()">OK</button>
    </div>
  </form>
</script>
