<div ui-view></div>


<script src="/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript" charset="utf-8"></script>

<script src="scripts/lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/ui-bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/lib/ui-bootstrap-tpls.min.js" type="text/javascript" charset="utf-8"></script>


<script src="scripts/filters.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/routes.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/directives.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/services.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/controllers.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/app.js" type="text/javascript" charset="utf-8"></script>