      <style>
        .label-default{
          background-color:#C0C0C0;
        }
      </style>
      <div class="table-operation">
          <h3>检查项目/检验项目</h3>
          <div style="display: inline-block">
              <a class="btn btn-default" ng-click="create_project()">新增项目</a>
          </div>
          <div role="search" class="navbar-form pull-right">
              <select class="form-control" ng-model="self.typeChoiceConfig.selected" ng-options="o for o in self.typeChoiceConfig.options"></select>
              <div class="form-group">
                  <input type="text" ng-model="search" class="form-control" placeholder="请输入项目名称">
              </div>
              <button ng-click="searchClick()" class="btn btn-default">搜索</button>
          </div>
      </div>

      <div class="col-md-12" >
      	<div class="panel panel-default" style="padding:4px 20px;background-color:#f6f6f6;">
          		<div style="display:block;padding-bottom:5px;">
          			<h4>项目名称</h4>
                <div ng-repeat="project in projectInfo.projects" style="display:inline;padding-bottom:5px;">
                  <a ng-class='{"label label-default" : select_id == project.id}' role="button" ng-click="set_content(project.id)" style='color:#43474A;font-size:15px;margin-left:18px;'>{{project.name}}[{{project.category}}]</a>
                </div>
              </div>
      	</div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default" style="padding:4px 20px;">
          <div ng-repeat="project in projectInfo.projects" style="display:inline;padding-bottom:5px;">
            <div ng-show="select_id == project.id">
              <div ng-repeat="c in project.city_hospitals">
                <h4>{{c.city[1]}}</h4>
                <span ng-repeat="h in c.hospital">
                  {{h[1]}} &nbsp;
                </span>
                <hr/>
              </div>
            </div>
          </div>
      	</div>
      </div>

      <div class="col-md-8" >
        <div class="panel panel-default" style="padding:4px 20px;">
          <div ng-repeat="project in projectInfo.projects" style="display:inline;padding-bottom:5px;">
            <div ng-show="select_id == project.id">
              <div ng-repeat="b in project.body_modes">
                <h4>{{b.body[1]}}</h4>
                <span ng-repeat="m in b.body_mode">
                  {{m[1]}} &nbsp;
                </span>
                <hr/>
              </div>
            </div>
          </div>
      	</div>
      </div>
    </tbody>
</table>
