<!doctype html>
<html lang="zh-CN" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css">
    <script src="scripts/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/lib/bootstrap.min.js"></script>
</head>
<body>
<% if (locals.user){ %>
    <input type="number" value="1" id="userIsLogin" hidden>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">配置系统</a>
        </div>
        <ul class="nav navbar-nav navbar-left hidden-xs">
            <li><a href="/#/hospitals">医院列表</a></li>
            <li><a href="/#/projects">检查项目/检验项目</a></li>
            <li><a href="/#/cities">城市管理</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 15px">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= user.name %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="logout()" class="btn">退出</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 15px">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    系统管理 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/hospital">医院字典</a></li>
                    <li><a href="#/citys">城市管理</a></li>
                </ul>
            </li>
        </ul>
    </nav>
<% } %>
<%- body %>
</body>
</html>
